<div ng-controller="phoneListController as vm">
    
    <div class="pull-right">
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" value="" placeholder="Search" ng-model="searchText"/>
    </div>

    <div>
        <h2>{{ vm.title }}</h2>
        <button class="btn btn-primary" ng-click="vm.addPhone()">
            <i class="fa fa-plus"></i>New
        </button>
    </div>

    <hr />
    <div ng-repeat="phone in vm.phones | filter:searchText">
        <a ng-href="/phones/{{phone.Id}}" class="h3">{{phone.Name}}</a>
        <div class="row">
            <div class="col-sm-3">
                <a ng-href="/phones/{{phone.Id}}" class="thumbnail">
                    <img ng-src="{{phone.ImageUrl}}" alt="{{phone.Name}}">
                </a>
            </div>
            <div class="col-sm-9">
                <p>{{phone.Snippet}}</p>
            </div>
        </div>
    </div>
</div>